<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head.ejs') %> 
    <title>The Monochromatic Venture - The Official Website</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/phone.css" media="only screen and (max-width:1300px)">
    <link rel="stylesheet" href="/css/phone_141.css" media="only screen and (max-width:420px)">
    
</head>

<body>
    <div class="container">
        <header>
            <div id="brand">
                <h1> <span>The </span> <span>Monochromatic</span> <span>Venture</span> </h1>
            </div>

            <nav>
                <div id="mobile-menu">
                    <div data-aos="flip-left" id="menu-icon">
                        <h3 id="menu-button-text">Menu <span> <i class="fas fa-caret-down"></i></span> </h3>
                    </div>
                </div>

                <div id="navbar">
                    <ul class="nav-list">
                        <li class="nav-links"> <a href="#">Home</a></li>
                        <li class="nav-links"> <a href="#about-section">About</a></li>
                        <li class="nav-links"> <a href="#shop-section">Shop</a></li>
                        <li class="nav-links"> <a href="#magazine-section">Magazine</a></li>
                        <li class="nav-links"> <a href="#">Customize</a></li>
                    </ul>
                </div>
            </nav>

            <div class="intro-text">
                <h4 data-aos="fade-in"class="intro-text-headings">Get Ready To Experience</h4>
                <h1 data-aos="fade-in" class="intro-text-headings">The Monochromatic Paradise</h1>
                <button>Check Out Products</button>
            </div>
        </header>

        <section id="about-section">
            <div id="about">
                <div id="logo">
                    <img data-aos="fade-up" src="./Images/tmv_logo.png" alt="logo">
                    <div class="social">
                        <div data-aos="zoom-in-down" class="icons"> <a href="#"> <i class="fab fa-instagram"></i> </a></div>
                        <div data-aos="zoom-in-down" class="icons"> <a href="#"> <i class="fab fa-facebook-f"></i></a></div>
                        <div data-aos="zoom-in-down" class="icons"> <a href="#"> <i class="fab fa-twitter"></i> </a></div>
                        <div data-aos="zoom-in-down" class="icons"> <a href="#"> <i class="fab fa-amazon"></i> </a></div>
                    </div>
                </div>
                <div id="about-text">
                    <h2 data-aos="flip-right">About <span>The Monochromatic Venture</span></h2>
                    <h4 data-aos="flip-left">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo accusamus quis aperiam!</h4>
                    <p data-aos="fade-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, placeat fugit? Nobis voluptate
                        placeat similique consectetur tenetur quas ipsum sit suscipit, molestiae necessitatibus corporis
                        harum qui. Repellendus ducimus minima corporis voluptatem, illum, illo incidunt quo enim,
                        quaerat maiores accusantium exercitationem ipsam eos autem cupiditate! Quasi cum tempore neque
                        itaque quo odio tempora nostrum numquam architecto, quos nobis fugit praesentium, unde optio aut
                        corporis quis error vitae ducimus sapiente. Libero nam ullam laboriosam, atque earum commodi
                        debitis doloribus veritatis enim! Ad nihil alias possimus, consectetur aperiam perferendis
                        officia exercitationem facilis officiis adipisci accusantium sunt at, rem distinctio nisi totam
                        inventore iusto <a href="#">Read more...</a> </p>
                </div>
            </div>
        </section>

        <section id="shop-section">
            <div id="shop">
                <div class="heading">
                    <h1 data-aos="zoom-in-down">Shop</h1>
                </div>
                <div class="range">
                    <div class="split left" data-aos="flip-left">
                        <h2>The Angelic Purity</h2>
                        <button>Explore</button>
                    </div>
                    <div class="split mid" data-aos="flip-up">
                        <h2>The Chromatic Gray</h2>
                        <button>Explore</button>
                    </div>
                    <div class="split right" data-aos="flip-right">
                        <h2>The Mightiest Black</h2>
                        <button>Explore</button>
                    </div>
                </div>
                <div class="store-link">
                    <a href="#">Visit our online store &gt</a>
                </div>
            </div>
        </section>

        <section id="magazine-section">
            <div id="magazine">
                <h1 data-aos="flip-down">Magazine</h1>
                <h4 data-aos="flip-down">Check out our latest blog posts</h4>
                <div class="blog-posts">
                    <div class="blog1" data-aos="fade-up">
                    </div>
                </div>
            </div>
        </section>

        <section id="contact-section">
            <div id="contact">

                <h1 data-aos="zoom-in-down">Stay In Touch</h1>
                <h4 data-aos="zoom-in-down">Don't ever miss out on any of our new releases, offers and surprises</h4>

                <form action="#" method="POST" data-aos="flip-up">
                    <label for="name">Name</label>
                    <input type="text" name="name" placeholder="Enter Your Name Here" required>

                    <label for="Email Address">Email</label>
                    <input type="email" name="email" placeholder="Enter Your Email Here" required>

                    <label for="contact">Contact Number</label>
                    <input type="tel" name="tel" placeholder="Enter Your Contact Number Here" required>

                    <button type="submit">Submit</button>
                </form>
            </div>
        </section>

        <!-- <section id="customize-section">
            <div id="customize">
                CUSTOMIZATION SECTION TO BE ADDED ONCE THE SERVICE IS AVAIALABLE
            </div>
        </section> -->

        <footer>
            <h2>
                Copyright &copy; www.TheMonochromaticVenture.com All rights reserved|
            </h2>
        </footer>
    </div>
    <script src="./js/index.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init(
        {
            duration: 800
        }           
      );
    </script>
  
</body>

</html>